body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('login2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  backdrop-filter: blur(10px);
  background: rgba(40, 89, 224, 0.1);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.login-card {
  text-align: center;
  color: #fff;
}

.login-card h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #6a11cb;
  background: linear-gradient(to right, #2575fc, #6a11cb);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

#errorMsg {
  color: #da0c0c;
  margin-top: 10px;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fafaf8;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #c4ee07;
}